 {% extends "base.html.twig" %}

 {% block body %}
  <body>
        <h1><a href="{{ path('contact_controller') }}"></h1>{{ Contact }} me clicking here</a>
        <h1><a href="{{ path('company_controller') }}"></h1>Here is my {{ Company }} </a>     
  </body>
{% endblock %}