{% extends "base.html.twig" %}

 {% block body %}
    <body>
        <h1>{{ page_title }}</h1>
     <form action="{{ path('contact_controller_add') }}" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value=""><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description" value=""><br>
  <label for "email">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br><br>
  <input type="submit" value="Submit">
</form> 
    </body>
{% endblock %}