{% extends "base.html.twig" %}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
    </head>
    <body>
        <h1>{{ page_title }}: Welcome to {{ name }}</h1>
     
    </body>
</html>